div#main
  +container

div#helpNavigation
  +column(24)
  +backgroundcolor_grey
  :height 27px
  div#web2
    +column(12)
    a#rss
      div#rss-icon
        :float left
        :width 39px
        :height 27px      
        :background-image url(/images/styles/icons_sprite.gif)
        :background-position -416px 113px
    a#rss:hover
      div#rss-icon
        :background-position -416px 47px
    a#facebook
      div#facebook-icon
        :float left
        :width 39px
        :height 27px
        :background-image url(/images/styles/icons_sprite.gif)
        :background-position -179px 113px
    a#facebook:hover
      div#facebook-icon
        :background-position -179px 47px
    a#flicker
      div#flicker-icon
        :float left
        :width 39px
        :height 27px
        :background-image url(/images/styles/icons_sprite.gif)
        :background-position -258px 113px
    a#flicker:hover
      div#flicker-icon
        :background-position -258px 47px
  div#helpNavigationItems
    +column(12)
    +last
    a
      :color white
    ul
      +horizontal-list
      :float right
      :margin-right 10px
      :line-height 27px
      :font-size 12px
      li.first
        a:hover
          :text-decoration underline
      li.current
        :text-decoration underline
        :color white
      li
        a:hover
          :text-decoration underline      
      
div#mainNavigation
  +column(24)
  :margin-top 10px

div#mainNavigationImage
  +column(24)

div.mainNavigationContent div#mainNavigationBar
  :margin-top -70px
div.mainNavigationContent div#mainNavigationImage
  :height 105px
  
div#mainNavigationBar
  +column(24)
  :margin-top -300px
  div#mainNavigationBarItems
    +column(17)
    //+backgroundcolor_grey
    //:opacity 0.8
    :background-color #4c4c4e
    :margin-right 0
    :height = $mainNavigationBarHeight
    ul
      +horizontal-list
      li
        :padding-right 20px
        :padding-left 20px
        :padding-right 20px
        :text-align center
        a
          :color white
          :font bold 16px arial,arial
          :height = $mainNavigationBarHeight - 6
          :display block
          :padding-top 6px
      li:hover
        +jcvp-backgroundcolor
      li.current, li.parent_of_current
        +jcvp-backgroundcolor
      li:first-child
        :padding-left 20px
      li:last-child  
        :padding-right 20px
        
  div#mainNavigationBarLogo
    +prepend(2)
    +column(5)
    +last
    :margin-left 10px
    a
      +column(5)
      +last
      :height 50px
div#whiteboard
  +column(24)
  :margin-top 20px
  div#leftWhiteboard
    +column(4)
    :margin-top 4px
    div#second-Level-Navigation
      +column(4)
      :margin-buttom 20px
      ul
        :list-style-type disc
        :margin-left 16px
        li
          a
            :line-height 20px
          a:hover
            :color = $jcvp-orange
        li.current, li.parent_of_current
          a 
            :color = $jcvp-orange
      div#main-site-name
        :font-size 14px
        :margin-bottom 20px
        :font-weight bold
        :line-height 20px
        :text-transform uppercase
        :border-bottom 1px solid
        
  div.leftWhiteboard-content-site div#second-Level-Navigation div#main-site-name
    :margin-top 17px
                             
  div.leftWhiteboard-Blog 
    div#second-Level-Navigation 
      ul
        li
          :margin-bottom 10px
        
  div#centerWhiteboard
    +prepend(0)
    +column(15)
    div#centerWhiteboard-left-right-border
      +prepend(0)
      +column(15)
      :background-image url(/images/styles/content_shadow.png)
    div#contentNavigation
      +column(15)
      +last
      :height 20px
      :color white
      :background-image url(/images/styles/shadow_top_bottom.png)
      :padding-top 6px
      div#content-Navigation-items
        :margin-left 6px
        div.contentNavigation-item
          :float left
          :line-height 20px
          :text-align center
          a
            :color white
          :padding-left 8px
          :padding-right 14px
          :font-weight bold
        div.contentNavigation-acitve-item-left-corner
          :float left
          :line-height 20px
          :width 5px
          :background-image url(/images/styles/content_area_tab_bg.gif)
          :background-position left top
        div.contentNavigation-inactive-item-spacer
          :float left
          :width 5px
        div.contentNavigation-acitve-item
          :background-image url(/images/styles/content_area_tab_bg.gif)
          :background-position right top
          :color black
          a 
            :color black
    div#content
      +column(14)
      +last
      :margin 10px 20px 0 20px
      //:padding-right 36px
      :min-height 345px
      div#addthis
        :margin-top 20px
      div#comments
        :margin-top 20px
      a:hover
        :color = $jcvp-orange    
      div#blog-date
        +column(14)
        :margin-top 5px
        :font-size 10px
      div#blog-author
        +column(14)
        :margin-bottom 20px
        :margin-top -5px
      div#blog-content
        +column(14)
        :margin-bottom 20px    
      div#blog-tags
        +column(14)
        :margin-bottom 20px        
      a.blog-teaser-more-link-tag
        :float left
        :background-image url(/images/styles/linkBtnMore_bg.png) 
        :width 110px
        :background-position right top
        :color white
        :padding-left 5px
      a.blog-teaser-more-link-tag:hover
        :background-image url(/images/styles/linkBtnMore_bg_hover.png) 
        :color white
       
    div#centerWhiteboard-bottom-border
      +column(15)
      :background-image url(/images/styles/shadow_top_bottom.png)
      :height 10px
      :background-position left bottom
    div#breadcrumb-list
      +column(15)
      :margin-left 5px
      :font-size 10px
      :height 15px
      ul
        +horizontal-list
        li
          a:hover
            :color = $jcvp-orange 

        
  div#rightWhiteboard
    +prepend(0)
    +column(5)
    +last
    
  div.rightWhiteboard-content-site
    :margin-top 17px

  div.rightWhiteboard-home
    :margin-top 3px    

div#bottom
  +column(24)
  :font-size 10px
  :margin 10px 0 30px 0
  div#copyright
    +column(19)
  div#i-like
    +column(5)
    +last
    
    
div.box
  :float left
  :width 184px
  :padding-bottom 2px
  :margin-bottom 20px
  :margin-left 8px
  :background-image url(/images/styles/bg_box.png)
  :height 180px
  div.boxBody
    :float left
    :width 168px
    :margin 5px 10px
    a:hover
      :color = $jcvp-orange
    div.boxItem
      :margin-bottom 10px
      :float left
    div.boxContent
      :width 168px
      :float left
      ol
        :float left
        :width 168px
        a
          :float left
    
div.small-box
  :float left
  :width 150px
  :height 120px
  :background-image url(/images/styles/bg_box_small.gif)
  :margin-bottom 12px
  div.small-box-content
    :margin 5px 7px
    a:hover
      :color = $jcvp-orange
div.small-box:first-child    
  :margin-bottom 13px
  
div.blog-teaser
  +column(14)
  +last
  :margin-bottom 20px
  div.blog-teaser-title
    +column(14)
    +last
    :margin-bottom 5px
    h1
      :font-size 18px
      a, a:visited
        :color = $jcvp-orange
      a:hover
        :text-decoration underline
  div.blog-teaser-more
    +column(14)
    :margin-bottom 20px
    div.blog-teaser-more-link
      :float left
      :width 130px

      
  div.blog-teaser-text
    +column(14)
    +last  
    :margin-bottom 8px
    :line-height 18px
  div.blog-teaser-info
    +column(14)
    +last
    
div.content-home
  h1
    :font-size 19px
    :margin-top 20px    
    :margin-bottom 20px    

table.parole
  :border-bottom 1px solid black
  :padding-bottom 20px
  :margin-bottom 20px
  tr
    :height 20px
    td:first-child
      :width 350px
      :margin-right 10px
    td
      :width 100px
      :vertical-align top

      
ul#blog-by-tag
  :float left
  :text-decoration none
  li
    :margin-bottom 10px
    :list-style-image none
    :list-style-type none
  
table.agenda
  td:first-child
    :width 100px
  tr
    :height 18px
    
table.jmpuls-editions
  td:first-child
    :width 100px   
    
table.downloads
  td:first-child
    :width 150px    
    
table.vorstand
  td:first-child
    :width 250px     
    
table.kandidat
  p
    :margin-right 10px
    
.form-error-label-color
 :color red